
<div>
    <div th:if="${#lists.isEmpty(conditions)}">
        <p>None Recorded</p>
    </div>
    <div th:if="${not #lists.isEmpty(conditions)}">
        <table>
            <thead>
            <tr>
                <th>Date</th>
                <th>Condition</th>
                <th>Severity</th>
                <th>Notes</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="condition : ${conditions}">
                    <td th:text="${#dates.format(condition.getOnsetDateTimeType().getValue(),'dd MMM YYYY')}">Unknown</td>
                    <td th:text="${condition.getCode().getCodingFirstRep().getDisplay()}">No Condition given</td>
                    <td th:text="${condition.getSeverity().getCodingFirstRep().getDisplay()}">No severity given</td>
                    <td th:text="${condition.getNoteFirstRep().getText()}">No notes given</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
