<div xmlns:th="http://www.w3.org/1999/xhtml">
    <table>
        <tbody>
            <tr>
                <td>Organisation</td>
                <td></td>
            </tr>
            <tr>
                <td>
                [[${organisation.getName()}]] ([[${organisation.getIdentifierFirstRep().getValue()}]])
                </td>
                <td>
                    <span th:each="telecom : ${organisation.getTelecom()}" th:remove="tag">
                        [[${telecom.getValue()}]]<br/>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

