<div xmlns:th="http://www.w3.org/1999/xhtml">
    <h2>Patient</h2>
    <table>
        <tbody>
        <tr>
            <td>Name</td>
            <td>DOB </td>
            <td>Sex </td>
            <td>NHS Number</td>
        </tr>
            <tr>
                <td><b th:text="${patient.getNameFirstRep().getNameAsSingleString()}"></b></td>
                <td><b th:text="${#dates.format(patient.getBirthDate(),'dd MMM YYYY')}"></b></td>
                <td><b th:text="${patient.getGender().getDisplay()}"></b></td>
                <td>
                    <span th:each="identifier : ${patient.getIdentifier()}" th:remove="tag">
                        <div th:switch="${identifier.getSystem()}" th:remove="tag">
                            <b th:case="'https://fhir.nhs.uk/Id/nhs-number'">[[${identifier.getValue()}]]</b>
                        </div>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    <table>
        <tbody>
            <tr>
                <td>Contact Details</td>
                <td>Address</td>
            </tr>
            <tr>
                <td>
                    <span th:each="telecom : ${patient.getTelecom()}" th:remove="tag">
                        [[${telecom.getValue()}]]<br/>
                    </span>
                </td>
                <td>
                    <span th:each="line : ${patient.getAddressFirstRep().getLine()}" th:remove="tag">
                        [[${line.getValue()}]] <br/>
                    </span>
                    [[${patient.getAddressFirstRep().getPostalCode()}]]
                </td>
            </tr>
        </tbody>

    </table>
</div>

