<div xmlns:th="http://www.w3.org/1999/xhtml">
    <table>
        <tbody>
            <tr>
                <td>Consultant/Dr</td>
                <td>Contact</td>
            </tr>
            <tr>
                <td> [[${practitioner.getNameFirstRep().getNameAsSingleString()}]]
                    <span th:each="identifier : ${practitioner.getIdentifier()}" th:remove="tag">
                        <span th:switch="${identifier.getSystem()}" th:remove="tag">
                            <p th:case="'https://fhir.nhs.uk/Id/gmc-number'" th:remove="tag"> ([[${identifier.getValue()}]]) </p>
                            <p th:case="'https://fhir.nhs.uk/Id/gmp-number'" th:remove="tag"> ([[${identifier.getValue()}]])</p>
                            <p th:case="*" th:text="${'Identifier ('+identifier.getSystem()+')'}" th:remove="tag"></p>
                        </span>
                        <br/>
                    </span>
                </td>
                <td>

                </td>
            </tr>
        </tbody>
    </table>
</div>

