<div>
    <div th:if="${#lists.isEmpty(questionnaireResponses)}" >
        <p>None Recorded</p>
    </div>
    <span th:if="${not #lists.isEmpty(questionnaireResponses)}" th:remove="tag">


            <span th:each="questionnaireResponse : ${questionnaireResponses}" th:remove="tag">

                <table>
                    <thead>
                        <tr>
                            <th>Text</th>
                            <th>Answer</th>
                        </tr>
                    </thead>
                    <tbody>

                        <span th:each="item : ${questionnaireResponse.getItem()}" th:remove="tag">
                            <tr th:if="${item.hasAnswer()}">
                                <div th:if="${item.hasText()}" th:remove="tag">
                                    <td th:text="${item.getText()}">Unknown</td>
                                </div>
                                <div th:if="${!item.hasText()}" th:remove="tag">
                                    <td ></td>
                                </div>
                                <td>
                                    <span th:each="answer : ${item.getAnswer()}" th:remove="tag">
                                        <span th:if="${answer.hasValueStringType()}" th:remove="tag">
                                            <div th:text="${answer.getValueStringType().getValue()}">Uknown</div>
                                        </span>
                                        <span th:if="${answer.hasValueCoding()}" th:remove="tag">
                                            <div th:text="${answer.getValueCoding().getDisplay()}">Uknown</div>
                                        </span>
                                        <span th:if="${answer.hasValueDateType()}" th:remove="tag">
                                            <div th:text="${#dates.format(answer.getValueDateType().getValue(),'dd MMM YYYY')}">Unknown</div>
                                        </span>
                                    </span>
                                </td>
                            </tr>
                            <tr th:each="subitem : ${item.getItem()}">
                                <div th:if="${subitem.hasText()}" th:remove="tag">
                                    <td th:text="${subitem.getText()}">Unknown</td>
                                </div>
                                <div th:if="${!subitem.hasText()}" th:remove="tag">
                                    <td ></td>
                                </div>
                                <td>
                                    <span th:each="answer : ${subitem.getAnswer()}" th:remove="tag">
                                        <span th:if="${answer.hasValueStringType()}" th:remove="tag">
                                            <div th:text="${answer.getValueStringType().getValue()}">Uknown</div>
                                        </span>
                                        <span th:if="${answer.hasValueCoding()}" th:remove="tag">
                                            <div th:text="${answer.getValueCoding().getDisplay()}">Uknown</div>
                                        </span>
                                        <span th:if="${answer.hasValueDateType()}" th:remove="tag">
                                            <div th:text="${#dates.format(answer.getValueDateType().getValue(),'dd MMM YYYY')}">Unknown</div>
                                        </span>
                                    </span>
                                </td>
                            </tr>
                        </span>
                    </tbody>
                </table>
            </span>
    </span>
</div>
